@page "/Book"
@using LibraryBackend.Shared
@using LibraryFrontend.Services
@inject IBookService BookService
@inject NavigationManager NavMan

<PageTitle>Add Book</PageTitle>
<h3>Add Book</h3>

<AddBookComponent Book="book" OnValidSubmit="AddBookAsync" />

@code {
    private Book book { get; set; } = new();

    private async Task AddBookAsync()
    {
        await BookService.AddAsync(book);
        NavMan.NavigateTo("/Book/all");
    }

}
