@page "/book/addbook"

<h3>AddBook</h3>

<div class="mb-3">
    <label class="form-label">Title</label>
    <input class="form-control" placeholder="Title"/>
</div>

<div class="mb-3">
    <label class="form-label">Author</label>
    <input class="form-control" placeholder="Author" />
</div>

<div class="mb-3">
    <label class="form-label">Publisher</label>
    <input class="form-control" placeholder="Publisher" />
</div>

<div class="mb-3">
    <button type="button" class="btn btn-info">Submit</button>
</div>

@code {
   
}
