@page "/Book/add"
@using LibraryBackend.Shared
@using LibraryFrontend.Services
@inject IBookService BookService
@inject NavigationManager NavMan
@using LibraryFrontend.Components

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>

<AddBookComponent Book="book" OnValidSubmit="AddBookAsync" />

@code {
    private Book book { get; set; } = new();
    private const string Title = "Add Book";

    private async Task AddBookAsync()
    {
        await BookService.AddAsync(book);
        NavMan.NavigateTo("/Book/all");
    }
}
