@page "/Reading/add"
@using LibraryBackend.Shared
@using LibraryFrontend.Services
@using LibraryFrontend.Components
@inject IReadingService ReadingService
@inject NavigationManager NavMan

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>

<AddReadingComponent Reading="reading" OnValidSubmit="AddReadingAsync"/>

@code {
    private Reading reading { get; set; } = new();
    private const string Title = "Add Reading";

    private async Task AddReadingAsync()
    {
        await ReadingService.AddAsync(reading);
        NavMan.NavigateTo("/Reading/all");
    }

}
