@page "/Book/all"
@using LibraryBackend.Shared
@using LibraryFrontend.Services
@using LibraryFrontend.Components
@inject IBookService BookService

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year of publication</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Guid</td>
        <td>Title</td>
        <td>Author</td>
        <td>@DateTime.Now.ToShortDateString()</td>
        <td><a href="/book/@Guid" class="btn btn-info" target="_blank">Details</a></td>
    </tr>
    </tbody>
</table>

@code {
    private IEnumerable<Book>? _book { get; set; }
    private bool _error = false;
    private const string Title = "All Book's";
    private Guid Guid => Guid.NewGuid();

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _book = await BookService.GetAllAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _book = null;
            _error = !_error;
        }
    }
}
