@page "/Reading/all"
@using LibraryBackend.Shared
@using LibraryFrontend.Services
@using LibraryFrontend.Components
@inject IReadingService ReadingService

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>BirthDate</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Guid</td>
        <td>Name</td>
        <td>Address</td>
        <td>@DateTime.Today.ToShortDateString()</td>
        <td><a href="/Reading/@Guid" class="btn btn-info" target="_blank">Details</a></td>
    </tr>
    </tbody>
</table>

@code {
    private IEnumerable<Reading>? Reading { get; set; }
    private bool _errorMessage = false;
    private const string Title = "All Reading's";
    private Guid Guid => Guid.NewGuid();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Reading = await ReadingService.GetAllAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            Reading = null;
            _errorMessage = !_errorMessage;
        }
    }
}
