@page "/"

<PageTitle>@Title</PageTitle>

<h3>@Title</h3>

<div class="">A feladat egy könyvtárban működő webes alkalmazás készítése, amely a könyvek és azok kikölcsönzésének nyilvántartására szolgál.</div>

@code {
    private const string Title = "Library Project";
}
