@page "/"

<PageTitle>@Title</PageTitle>

<div class="d-flex flex-column" id="home">
    <h3>@Title</h3>
    <div>A feladat egy könyvtárban működő webes alkalmazás készítése, amely a könyvek és azok kikölcsönzésének nyilvántartására szolgál.</div>
    <div>
        <!-- TODO: maybe cards for adding books ... -->
    </div>
</div>

@code {
    private const string Title = "Library Project";
}