@using LibraryBackend.Shared

<EditForm Model="Reading" OnValidSubmit="() => OnValidSubmit()">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="@Reading.Name" /> 
        <ValidationMessage For="() => Reading.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Address</label>
        <InputText class="form-control" @bind-Value="@Reading.Address" />
        <ValidationMessage For="() => Reading.Address" />
    </div>

    <div class="mb-3">
        <label class="form-label">BirthDate</label>
        <InputDate class="form-control" @bind-Value="@Reading.BirthDate" />
        <ValidationMessage For="() => Reading.BirthDate" />
    </div>

    <button type="submit" class="btn btn-primary">Add Reading</button>
</EditForm>

@code {
    [Parameter] public Reading Reading { get; set; }

    [Parameter] public Func<Task> OnValidSubmit { get; set; }

}