<div class="d-flex justify-content-center align-items-center gap-2 flex-column">
    <p>Error occurred</p>
    <button class="btn btn-info" @onclick="OnReload">Reload page</button>
    <div class="">Or</div>
    <button class="btn btn-info" @onclick="OnHome">Home</button>
</div>

@code {
    [Parameter] public EventCallback OnReload { get; set; }
    [Parameter] public EventCallback OnHome { get; set; }
}