@inject NavigationManager NavMan

<div class="d-flex justify-content-center align-items-center gap-2 flex-column">
    <p>Error occurred</p>
    <button class="btn btn-info" @onclick="Reload">Reload page</button>
    <div class="">Or</div>
    <button class="btn btn-info" @onclick="Home">Home</button>
</div>

@code {
    [Parameter] public string ReloadUrl { get; set; }
    
    private void Reload()
    {
        NavMan.NavigateTo(ReloadUrl);
    }

    private void Home()
    {
        NavMan.NavigateTo("/");
    }
}